// HERO
.hero {
  height: 100vh;

  .video-bg-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }

  .video-bg {
    min-width: 100%;
    min-height: 100%;
  }

  .video-overlay {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
  }
}

.hero-content {
  &-top {
    color: color(white);
    z-index: 100;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

    h1 {
      @include headingStyles();
      font-size: size(xl) + 4rem;
    }

    p {
      @include headingStyles();
      font-size: size(lg);
      margin-bottom: 3rem;
      width: 70%;
    }
  }

  &-bottom {
    z-index: 100;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
  }
}
// END OF HERO
// FEATURED PRODUCTS
.featured {
  @include maxWidth();
  h2 {
    @include headingStyles();
    font-size: size(xl) + 2rem;
    margin-bottom: 2rem;
  }
}
.cards2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  align-items: center;
  justify-content: space-evenly;

  .card2 {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 2rem;
    box-shadow: 0.4rem 0.4rem 1rem #f2f2f2;

    img {
      width: 100%;
      margin-bottom: 1rem;
    }

    h3 {
      @include headingStyles();
      font-size: size(lg);
      color: color(primary);
    }

    p {
      @include textStyles();
      font-size: size(sm);
      margin: 2rem 0;
    }

    .btn {
      text-align: center;
    }
  }
}
// END OF FEATURED PRODUCTS
// LATEST NEWS
.latest {
  margin-top: 5rem;
  // background: url(/images/cool-background.svg) no-repeat top center/cover;
  background: linear-gradient(#fff, transparent 90%),
    linear-gradient(0deg, rgba(225, 225, 225, 0.1), transparent),
    url("/images/cool-background2.png") no-repeat left center/cover;

  h2 {
    @include maxWidth();
    @include headingStyles();
    font-size: size(xl) + 2rem;
    margin-bottom: 2rem;
  }

  .articles {
    @include maxWidth();
    @include sectionSpacing();
    display: grid;
    grid-template-areas:
      "article1 article1 article2"
      "article1 article1 article3"
      "article4 article6 article6"
      "article5 article6 article6";
    grid-gap: 2rem;
  }

  .article {
    border-radius: 1rem;
    transition: all 0.5s ease;
    transition: 0.5s ease;
    border: 0.2rem solid color(black);

    &:hover {
      transform: scale(0.98);
    }

    .article-content {
      @include flexLayout();
      height: 25vh;
      width: 70%;
      margin: 0 auto;

      h3 {
        @include headingStyles();
        color: color(white);
        font-size: size(xl);
        margin-bottom: 1rem;
      }

      p {
        @include textStyles();
        color: color(white);
        font-size: size(sm);
      }
    }
  }

  .article-1 {
    grid-area: article1;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(/images/blog4.jpg) center center/cover no-repeat;
    height: 62vh;
  }

  .article-2 {
    grid-area: article2;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url(/images/blog5.jpg) center center/cover no-repeat;
    height: 30vh;
  }

  .article-3 {
    grid-area: article3;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(/images/blog6.jpg) center center/cover no-repeat;
    height: 30vh;
  }

  .article-4 {
    grid-area: article4;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(/images/blog1.jpg) center center/cover no-repeat;
    height: 30vh;
  }

  .article-5 {
    grid-area: article5;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url(/images/blog2.jpg) center center/cover no-repeat;
    height: 30vh;
  }

  .article-6 {
    grid-area: article6;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(/images/blog3.jpg) center center/cover no-repeat;
    height: 62vh;
  }
}
// END OF LATEST NEWS
// MADEWTHUNITY
.madeWithUnity {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/images/citybg.jpg) center center/cover no-repeat;
  height: 80vh;

  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 80vh;
  }

  &-content-top {
    h3 {
      color: color(white);
      font-size: size(xl);
    }

    p {
      color: color(white);
      font-size: size(lg);
      width: 70%;
      margin: 2rem 0;
    }
  }

  &-content-bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5rem;
  }
}
// END OF MADEWTHUNITY
// ABOUT UNITY
.about-unity {
  @include maxWidth();
  @include sectionSpacing();

  &-top {
    h2 {
      @include headingStyles();
      font-size: size(xl) + 1rem;
    }

    p {
      @include textStyles();
      font-size: size(md);
      width: 70%;
      margin: 2rem 0;
    }
  }

  &-bottom {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    margin-top: 2rem;

    .about-card {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      h3 {
        @include headingStyles();
        font-size: size(lg);
      }

      p {
        @include textStyles();
        font-size: size(xs);
        margin: 1rem 0;
      }

      a {
        font-size: size(xs);
        color: color(primary);
      }
    }
  }
}
// END OF ABOUT UNITY
// HIRING
.hiring {
  @include maxWidth();
  @include sectionSpacing();
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;

  &-content {
    h2 {
      @include headingStyles();
      font-size: size(xl);
      width: 70%;
    }

    p {
      @include textStyles();
      font-size: size(md);
      width: 70%;
      margin: 2rem 0;
    }
  }

  &-img {
    img {
      border-radius: 1rem;
      box-shadow: 0.4rem 0.4rem 1rem #f2f2f2;
    }
  }
}
// END OF HIRING
// LOGOS SECTION
.logos-section {
  @include maxWidth;
  @include sectionSpacing();

  &-header {
    h3 {
      @include headingStyles();
      font-size: size(xl);
    }

    p {
      @include textStyles();
      font-size: size(md);
      margin: 2rem 0;
    }
  }

  .logos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    &-container {
      margin: 2rem;
    }

    img {
      width: 12rem;
      object-fit: cover;
    }
  }
}
// END OF LOGOS SECTION
// CONTACT
.contact {
  @include maxWidth();
  @include sectionSpacing();
  background: linear-gradient((rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5))),
    url(/images/comp.jpg) right center/cover no-repeat;
  height: 40vh;
  border-radius: 1rem;

  &-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 40vh;
    color: color(white);
    text-align: left;

    h2 {
      @include headingStyles();
      font-size: size(xl);
      width: 50%;
    }

    p {
      @include textStyles();
      font-size: size(md);
      width: 50%;
      margin: 2rem 0;
    }
  }
}
// END OF CONTACT
