.btn {
  font-size: size(xs);
  background-color: color(primary);
  padding: 1rem;
  color: color(white);
  border-radius: 0.5rem;
  font-family: "Roboto", sans-serif;
  transition: background-color 0.2s ease-in-out;
  display: inline-block;
  width: 16rem;
  text-align: center;

  &:hover {
    background-color: lighten(color(primary), 5%);
  }
}

.btn-light {
  @extend .btn;
  background-color: transparent;
  border: 0.1rem solid color(primary);
  margin-left: 2rem;
}
